*{
    margin: 0;
    border: 0;
    padding: 0;
}

.header{
    background-color: #eeeeee;
    color: #00ccff;
    height: 10vh;
    width: 100vw;
    font-size: 2em;
}

img.headerLogo{
    width: 7vh;
    margin: 1vh 2vw;
    border: #ff1493 1px solid;
    float: left;
    /*margin-left: 2%;*/
}

h1.headerText{
    padding: 0.5vh 2vw 0 0;
    float: left;
    font-size: 2em;
}

button.headerButton{
    background-color: #00ccff;
    padding: 0.5%;
    color: #f1f1f1;
    text-align: center;
    margin: 1.5vh 3vw 0 0;
    float: right;
    font-size: 1em;
}

.pageTextContainer{
    text-align: center;
    color: #00ccff;
    font-size: xx-large;
}

h1.pageText{
    margin: 5% auto 0 auto;
    line-height: 125%;
}

p.pageText{
    margin: 2% auto 0 auto;
    color: #817d7d;
}

button.tryItNow{
    text-align: center;
    background-color: #ff1493;
    color: #ffffff;
    padding: 2% 7% 2% 7%;
    font-size: 1.5em;
    margin: 5% auto 2% auto;
}

.howItWorksContainer{
    height: 100vh;
    width: 98vw;
    background-color: #ff61be;
    margin: 5% auto;
}

h1.howItWorks{
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    margin: 15vh 0 2.5%;
}

img.howItWorks{
    width: 45em;
    float: left;
    margin: 0 0.5vw;
}

p.howItWorks{
    float: right;
    color: #ffffff;
    width: 45vw;
    margin: 14vh 1vw;
    font-size: xxx-large;
}

body.form{
    background-color: #abe0ec;
}

.formContainer{
    align-content: center;
    text-align: center;
    width: 30vw;
    height: 65vh;
    margin: 5% auto 0 auto;
    font-size: 1em;
    background-color: #ffffff;
    border: 3px #eadfdf solid;
}

h1.form{
    color: #000000;
    font-size: 3em;
    padding: 5% 0 0 0;
    margin: 5% auto 10% auto;
}

.formBlanksContainer{
    width: 24vw;
    height: 34vh;
    margin: 15% auto 0 auto;
}

label.form{
    color: #888888;
    float: left;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
}

