@font-face {
    font-family: 'montserratblack';
    url('css/fonts/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.empty {
    background-color: #ffc0c0;
    color: #ff5a5a;
    text-align: left;
    border-bottom: #ff3c3c 3px solid;
    padding: 3%;
    width: 100%;
    margin-bottom: 2%;
}

.header {
    background-color: #ffffff;
    border-bottom-color: #d6dbdf;
    border-bottom-width: thin;
    border-style: solid;
    color: #000000;
    height: 10vh;
    width: 100vw;
    font-size: 1.5em;
}

img.headerLogo {
    width: 3.5em;
    margin: 0.25vh 0.25vw;
    float: left;
    /*margin-left: 2%;*/
}

h1.headerText{
    padding: 0.5vh 2vw 0 0;
    float: left;
    font-size: 2em;
    font-family: "LoveloBlack", serif, Verdana;
}

button.headerButton{
    background-color: #00aeff;
    padding: 1% 1% 1% 1%;
    color: #f1f1f1;
    text-align: center;
    margin: 1.5vh 3vw 0 0;
    float: right;
    font-size: 0.75em;
    font-family: 'montserratblack', Arial, serif;
    font-weight: bold;
}

.pageTextContainer{
    text-align: center;
    color: #000000;
    font-size: xx-large;
    font-family: 'montserratblack', Arial, serif;
    height: 15em;
}

h1.pageText{
    margin: 5% auto 0 auto;
    line-height: 125%;
    font-family: 'montserratblack', Arial, serif;
}

p.pageText{
    margin: 2% auto 0 auto;
    color: #817d7d;
}

button.tryItNow{
    text-align: center;
    background-color: #ff1150;
    color: #ffffff;
    padding: 1% 4% 1% 4%;
    font-size: 1em;
    margin: 5% auto 2% auto;
    font-family: 'montserratblack', Arial, serif;
}

.howItWorksContainer{
    height: 100vh;
    width: 100%;
    background-color: #ff1150;
    margin: 5% auto;
    font-family: 'montserratblack', Arial, serif;
}

h1.howItWorks{
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    margin: 15vh 0 2.5%;
    padding: 2% 1% 0 1%;
}

img.howItWorks{
    width: 45em;
    float: left;
    margin: 0 0.5vw;
}

p.howItWorks{
    float: right;
    color: #ffffff;
    width: 45vw;
    margin: 14vh 1vw;
    font-size: xxx-large;
}

body.form{
    background-color: #abe0ec;
}

.formContainer{
    align-content: center;
    text-align: center;
    width: 30vw;
    height: 65vh;
    margin: 5% auto 0 auto;
    font-size: 1em;
    background-color: #ffffff;
    border: 3px #eadfdf solid;
}


h1.form{
    color: #000000;
    font-size: 3em;
    padding: 5% 0 0 0;
    margin: 5% auto 5% auto;
}

.fields{
    margin: 0 0 7% 0;
}

.formBlanksContainer{
    width: 24vw;
    height: 34vh;
    margin: 10% auto 0 auto;
}

p.form{
    color: #888888;
    text-align: left;
    padding: 1%;
    margin: 1% 0;
}

input.form{
    background-color: #ececec;
    color: #b7b7b7;
    text-align: left;
    border-bottom: #817d7d 3px solid;
    padding: 3%;
    width: 100%;
    margin: 0 auto 2% auto;
}

#forgotPassword{
    color: #727070;
    text-decoration: none;
    float: right;
    margin-right: 0;
    padding-right: 0;
}

.loginButton{
    width: 24vw;
    margin: 0 auto 0 auto;
}

button.form{
    width: 100%;
    font-size: 2.25em;
    padding: 1.5%;
    margin-bottom: 5%;
    background-color: #0996c6;
    color: #ffffff;
}

h6.form{
    color: #888888;
    padding: 1%;
    margin: 1% 0;
}

a.form{
    text-decoration: none;
    color: #00ccff;
    font-weight: bold;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
}

.signUp2.formContainer{
    height: 100vh;
}

#interestContainer{
    justify-content: left;
    text-align: left;
    width: 80%;
    margin: auto;
    child-align: left;
    font-size: 1.25em;
}

input[type=checkbox].form.interests{
    float:left;
    margin: 0 0;
    width: 10%;
    border-color: #00ccff;
    color: #00ccff;
}

/*input[type=checkbox]:checked.form.interests{*/
/*    float:left;*/
/*    margin: 0 0;*/
/*    width: 10%;*/
/*    border-color: #00ccff;*/
/*    background-color: #00ccff;*/
/*    visibility: hidden;*/
/*}*/

label.form.interests{
    float: none;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 2px solid #FFFF00; /* Green border */
    color: white; /* White text */
    padding: 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 60%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    margin: 2% auto;
    align-content: center;
}

#backButton{
    margin-right: 20%;
}

#back-btn{
    width: 40vw;
    font-size: 2.25em;
    padding: 1.5%;
    margin: 0 auto 5% auto;
    background-color: #0996c6;
    color: #ffffff;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}