/* Style the header */
.header {
    padding: 10px 16px;
    background: #eeeeee;
    color: #f1f1f1;
    align-self: center;
    width: 100%;
    height: 5vh;
}

.headerText{
    color: #00ccff;
    margin: 0%;
    border: 0%;
    padding: 0% 1.5%;
    float: left;
    font-size: 4vh;
}

#headerLogo {
    float: left;
    height: 100%
}

#joinButtonDiv{
    text-align: right;
    margin-right: 0.5vw;
    padding-right: 1vw;
    float: right;
    margin-top: 0.5vh;
    border: 3vw;
    height: 2vh;
    width: 10vw;
}

#joinButton{
    height: 5vh;
    font-size: 1.5vh;
    padding: 10%;
    background-color: #00ccff;
    color:#fff;
    border: none;
}

.pageTextDiv{
    height: 40vh;
}

.pageHeading{
    text-align: center;
    font-size: 5vh;
    margin-bottom: 0;
    padding: 0;
    border: 0;
}

#mentor{
    color: #00ccff;
    text-align: center;
    font-size: 5vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

#tryItNow{
    align-content: center;
}

.pageText{
    text-align: center;
    font-size: 2vh;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}